// Directories

/.vs
/bin
/bin-int
Vortex-Editor/assets/textures/game
Vortex-Editor/Resources/Scripts/Intermediates
Vortex-Editor/SandboxProject/.vs
Vortex-Editor/SandboxProject/Assets/Scripts/Binaries
Vortex-Editor/SandboxProject/Assets/Scripts/Intermediates
Vortex-Editor/Resources/Logs
Vortex-Runtime/Resources/Logs

// Files

*.user
*.vcxproj
*.filters
*.sln
*.json
*.csproj
Testbed/imgui.ini